rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /user/{user_id} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == user_id;

      match /private/privacy {
        allow read, update: if request.auth != null && user_id == request.auth.uid;
      }
    }
  }
}
