rules_version = '2';

service firebase.storage {
  function isLoggedIn() {
    return request.auth != null;
  }

  function isImage() {
    return  request.resource.contentType.matches('image/.*');
  }

  function isLessThanMbs(n) {
    return request.resource.size < n * 1024 * 1024;
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if false;
    }

    match /user/{user_id} {
      allow read: if true;
      allow write: if isLoggedIn() && isLessThanMbs(5) && isImage() && request.auth.uid == user_id;
    }

    
    match /circle/{circle_id}/{allFile=**} {
      allow read: if true;
      allow write: if isLoggedIn() && isLessThanMbs(5) && isImage() && request.auth.uid in firestore.get(/databases/(default)/documents/circle/$(circle_id)).data.members;
    }
  }
}
