@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  background-color: transparent !important;
  border: none !important;
  color: rgba(245, 66, 66, 0) !important;
  display: none;
  visibility: hidden;
}

@layer components {
  .animation-expand {
    @apply animate-expand overflow-hidden whitespace-nowrap text-nowrap;
  }

  .quill-style {
    @apply flex flex-1 flex-col;
  }
  .quill-style .ql-toolbar {
    @apply rounded-t-md;
  }
  .quill-style .ql-container {
    @apply h-max flex-1 rounded-b-md;
  }

  .quill-style-tabbed {
    @apply flex flex-1 flex-col;
  }
  .quill-style-tabbed .ql-toolbar {
    @apply !border-t-white;
  }
  .quill-style-tabbed .ql-container {
    @apply h-max flex-1 rounded-b-md;
  }
}
