@tailwind base;
@tailwind components;
@tailwind utilities;

.firebase-emulator-warning {
  background-color: transparent !important;
  border: none !important;
  color: rgba(245, 66, 66, 0) !important;
  display: none;
  visibility: hidden;
}

@layer components {
  .quill-style .ql-toolbar {
    @apply rounded-t-md;
  }

  .quill-style .ql-container {
    @apply rounded-b-md;
  }
}
